* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: rgba(20,19,50,1);
}
.v302_13 {
  width: 100%;
  height: 834px;
  background: rgba(20,19,50,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  box-shadow: -11px 27px 90px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v302_14 {
  width: 350px;
  height: 48px;
  background: url("../images/v302_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 802px;
  overflow: hidden;
}
.v302_15 {
  width: 350px;
  height: 35px;
  background: rgba(29,29,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0.814453125px solid rgba(29,29,65,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_16 {
  width: 172px;
  color: rgba(174,171,216,1);
  position: absolute;
  top: 11px;
  left: 18px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_17 {
  width: 13px;
  height: 13px;
  background: url("../images/v302_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 325px;
  overflow: hidden;
}
.v302_18 {
  width: 13px;
  height: 13px;
  background: url("../images/v302_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_19 {
  width: 18px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  overflow: hidden;
}
.v302_20 {
  width: 544px;
  height: 294px;
  background: url("../images/v302_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 282px;
  overflow: hidden;
}
.v302_21 {
  width: 544px;
  height: 294px;
  background: rgba(29,29,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_22 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 19px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v302_23 {
  width: 168px;
  height: 30px;
  background: rgba(39,38,78,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 201px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v302_24 {
  width: 148px;
  height: 30px;
  background: url("../images/v302_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 378px;
  border: 0.7060875296592712px solid rgba(174,171,216,0.5299999713897705);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v302_25 {
  width: 128px;
  color: rgba(174,171,216,1);
  position: absolute;
  top: 25px;
  left: 211px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_26 {
  width: 27px;
  color: rgba(173,170,215,1);
  position: absolute;
  top: 76px;
  left: 27px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_27 {
  width: 21px;
  color: rgba(173,170,215,1);
  position: absolute;
  top: 76px;
  left: 209px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_28 {
  width: 36px;
  color: rgba(173,170,215,1);
  position: absolute;
  top: 77px;
  left: 332px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_29 {
  width: 30px;
  color: rgba(173,170,215,1);
  position: absolute;
  top: 77px;
  left: 450px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_30 {
  width: 12px;
  height: 21px;
  background: url("../images/v302_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 349px;
  overflow: hidden;
}
.v302_31 {
  width: 68px;
  color: rgba(174,171,216,1);
  position: absolute;
  top: 25px;
  left: 404px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_32 {
  width: 8px;
  height: 4px;
  background: url("../images/v302_32.png");
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 506px;
  border: 0.7060875296592712px solid rgba(174,171,216,1);
}
.v302_33 {
  width: 14px;
  height: 14px;
  background: url("../images/v302_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 384px;
  overflow: hidden;
}
.v302_34 {
  width: 490px;
  height: 30px;
  background: url("../images/v302_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 22px;
  overflow: hidden;
}
.v302_35 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 40px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_36 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 188px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_37 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 314px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_38 {
  width: 30px;
  height: 30px;
  background: rgba(234,229,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v302_39 {
  width: 17px;
  height: 17px;
  background: url("../images/v302_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  overflow: hidden;
}
.v302_40 {
  width: 62px;
  height: 17px;
  background: rgba(2,177,89,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 429px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v302_41 {
  width: 39px;
  color: rgba(2,177,89,1);
  position: absolute;
  top: 9px;
  left: 437px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v302_42 {
  width: 490px;
  height: 30px;
  background: url("../images/v302_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 22px;
  overflow: hidden;
}
.v302_43 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 188px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_44 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 314px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_45 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 40px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_46 {
  width: 30px;
  height: 30px;
  background: rgba(254,247,224,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v302_47 {
  width: 17px;
  height: 17px;
  background: url("../images/v302_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v302_48 {
  width: 62px;
  height: 16px;
  background: rgba(2,177,89,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 429px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v302_49 {
  width: 39px;
  color: rgba(2,177,89,1);
  position: absolute;
  top: 9px;
  left: 437px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v302_50 {
  width: 490px;
  height: 30px;
  background: url("../images/v302_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 22px;
  overflow: hidden;
}
.v302_51 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 313px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_52 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 188px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_53 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 38px;
  font-family: Plus Jakarta Sans;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_54 {
  width: 30px;
  height: 30px;
  background: rgba(252,226,231,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v302_55 {
  width: 62px;
  height: 16px;
  background: rgba(2,177,89,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 429px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v302_56 {
  width: 39px;
  color: rgba(2,177,89,1);
  position: absolute;
  top: 9px;
  left: 437px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v302_57 {
  width: 19px;
  height: 10px;
  background: url("../images/v302_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 6px;
  overflow: hidden;
}
.v302_58 {
  width: 261px;
  height: 102px;
  background: url("../images/v302_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 282px;
  overflow: hidden;
}
.v302_59 {
  width: 261px;
  height: 102px;
  background: rgba(29,29,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_60 {
  width: 36px;
  height: 36px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_61 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 75px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v302_62 {
  width: 75px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 30px;
  left: 75px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_63 {
  width: 51px;
  height: 18px;
  background: rgba(2,177,89,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 189px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_64 {
  width: 34px;
  color: rgba(2,177,89,1);
  position: absolute;
  top: 56px;
  left: 197px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_65 {
  width: 14px;
  background: url("../images/v302_65.png");
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 42px;
  border: 1.62890625px solid rgba(255,255,255,1);
}
.v302_66 {
  width: 261px;
  height: 102px;
  background: url("../images/v302_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 565px;
  overflow: hidden;
}
.v302_67 {
  width: 261px;
  height: 102px;
  background: rgba(29,29,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_68 {
  width: 36px;
  height: 36px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 23px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_69 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 51px;
  left: 77px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v302_70 {
  width: 87px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 30px;
  left: 77px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_71 {
  width: 51px;
  height: 18px;
  background: rgba(235,0,26,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 189px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_72 {
  width: 34px;
  color: rgba(228,19,19,1);
  position: absolute;
  top: 59px;
  left: 198px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_73 {
  width: 14px;
  background: url("../images/v302_73.png");
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 38px;
  border: 1.62890625px solid rgba(255,255,255,1);
  transform: rotate(-53deg);
}
.v302_74 {
  width: 272px;
  height: 46px;
  background: url("../images/v302_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 284px;
  overflow: hidden;
}
.v302_75 {
  width: 223px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v302_76 {
  width: 20px;
  height: 20px;
  background: url("../images/v302_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 219px;
  overflow: hidden;
}
.v302_77 {
  width: 272px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_78 {
  width: 544px;
  height: 311px;
  background: url("../images/v302_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 282px;
  overflow: hidden;
}
.v302_79 {
  width: 544px;
  height: 311px;
  background: rgba(29,29,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_80 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v302_81 {
  width: 61px;
  height: 21px;
  background: url("../images/v302_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 464px;
  border: 0.814453125px solid rgba(174,171,216,0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_82 {
  width: 27px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 26px;
  left: 471px;
  font-family: Plus Jakarta Sans;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_83 {
  width: 9px;
  height: 9px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 255px;
}
.v302_84 {
  width: 9px;
  height: 9px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 357px;
}
.v302_85 {
  width: 47px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 275px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_86 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 378px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_87 {
  width: 6px;
  height: 3px;
  background: url("../images/v302_87.png");
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 512px;
  border: 0.814453125px solid rgba(140,137,180,1);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v302_93 {
  width: 21px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 70px;
  left: 20px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_94 {
  width: 26px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 115px;
  left: 20px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_95 {
  width: 26px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 161px;
  left: 20px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_96 {
  width: 21px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 207px;
  left: 20px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_97 {
  width: 21px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 253px;
  left: 20px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_98 {
  width: 21px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 269px;
  left: 73px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_99 {
  width: 24px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 269px;
  left: 137px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_100 {
  width: 21px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 269px;
  left: 201px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_101 {
  width: 21px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 269px;
  left: 262px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_102 {
  width: 19px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 269px;
  left: 385px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_103 {
  width: 25px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 269px;
  left: 322px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_104 {
  width: 16px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 269px;
  left: 448px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_105 {
  width: 24px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 269px;
  left: 506px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_106 {
  width: 5px;
  height: 75px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 73px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_107 {
  width: 5px;
  height: 75px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 260px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_108 {
  width: 5px;
  height: 121px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 84px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_109 {
  width: 5px;
  height: 121px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 273px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_110 {
  width: 5px;
  height: 109px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 137px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_111 {
  width: 5px;
  height: 109px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 321px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_112 {
  width: 5px;
  height: 57px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 201px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_113 {
  width: 5px;
  height: 81px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 385px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_114 {
  width: 5px;
  height: 81px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 445px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_115 {
  width: 5px;
  height: 81px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 506px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_116 {
  width: 5px;
  height: 76px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 148px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_117 {
  width: 5px;
  height: 142px;
  background: rgba(90,81,212,1);
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 333px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_118 {
  width: 5px;
  height: 57px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 396px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_119 {
  width: 5px;
  height: 57px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 518px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_120 {
  width: 5px;
  height: 57px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 457px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_121 {
  width: 5px;
  height: 90px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 212px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v302_122 {
  width: 92px;
  height: 44px;
  background: rgba(70,70,134,1);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 338px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 21.861637115478516px 32px rgba(0, 0, 0, 0.17000000178813934);
  overflow: hidden;
}
.v302_123 {
  width: 64px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 136px;
  left: 353px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_124 {
  width: 304px;
  height: 352px;
  background: url("../images/v302_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 848px;
  overflow: hidden;
}
.v302_125 {
  width: 304px;
  height: 352px;
  background: rgba(29,29,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_126 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 19px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v302_127 {
  width: 265px;
  height: 149px;
  background: url("../images/v302_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 20px;
  overflow: hidden;
}
.v302_128 {
  width: 265px;
  height: 149px;
  background: linear-gradient(rgba(156,44,243,1), rgba(58,111,248,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_129 {
  width: 265px;
  height: 149px;
  background: url("../images/v302_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_130 {
  width: 265px;
  height: 149px;
  background: rgba(236,112,60,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_131 {
  width: 270px;
  height: 184px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 81px;
  left: 114px;
  border-radius: 50%;
}
.v302_132 {
  width: 270px;
  height: 184px;
  background: rgba(0,0,0,1);
  opacity: 0.07999999821186066;
  position: absolute;
  top: 116px;
  left: 110px;
  border-radius: 50%;
}
.v302_133 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 118px;
  left: 204px;
  font-family: Cera Pro;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: right;
}
.v302_134 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 118px;
  left: 26px;
  font-family: Cera Pro;
  font-weight: Medium;
  font-size: 11px;
  opacity: 0.8999999761581421;
  text-align: left;
}
.v302_135 {
  width: 37px;
  height: 29px;
  background: url("../images/v302_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 203px;
  overflow: hidden;
}
.v302_136 {
  width: 10px;
  height: 17px;
  background: rgba(255,95,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 14px;
}
.v302_137 {
  width: 37px;
  height: 29px;
  background: url("../images/v302_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_138 {
  width: 34px;
  height: 4px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 2px;
}
.v302_139 {
  width: 18px;
  height: 22px;
  background: rgba(235,0,27,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v302_140 {
  width: 18px;
  height: 22px;
  background: rgba(247,158,27,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
}
.v302_141 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 42px;
  left: 26px;
  font-family: Cera Pro;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v302_142 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 26px;
  font-family: Cera Pro;
  font-weight: Medium;
  font-size: 11px;
  opacity: 0.5400000214576721;
  text-align: left;
}
.v302_143 {
  width: 127px;
  height: 39px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_144 {
  width: 127px;
  height: 39px;
  background: url("../images/v302_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 159px;
  border: 0.814453125px solid rgba(255,255,255,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_145 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 303px;
  left: 44px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_146 {
  width: 47px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 303px;
  left: 199px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_147 {
  width: 111px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 19px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v302_148 {
  width: 79px;
  color: rgba(140,137,180,1);
  position: absolute;
  top: 56px;
  left: 19px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_149 {
  width: 16px;
  height: 4px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 130px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v302_150 {
  width: 4px;
  height: 4px;
  background: rgba(39,38,78,1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 150px;
  border-radius: 50%;
}
.v302_151 {
  width: 4px;
  height: 4px;
  background: rgba(39,38,78,1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 158px;
  border-radius: 50%;
}
.v302_152 {
  width: 304px;
  height: 337px;
  background: url("../images/v302_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 849px;
  overflow: hidden;
}
.v302_153 {
  width: 304px;
  height: 337px;
  background: rgba(29,29,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_154 {
  width: 61px;
  height: 21px;
  background: url("../images/v302_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 226px;
  border: 0.814453125px solid rgba(140,137,180,0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_155 {
  width: 29px;
  color: rgba(174,171,216,1);
  position: absolute;
  top: 20px;
  left: 233px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v302_156 {
  width: 6px;
  height: 3px;
  background: rgba(174,171,216,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 274px;
  border: 0.814453125px solid rgba(174,171,216,1);
}
.v302_157 {
  width: 237px;
  height: 232px;
  background: rgba(58,58,90,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 31px;
  border-radius: 50%;
}
.v302_158 {
  width: 237px;
  height: 232px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 31px;
  border-radius: 50%;
}
.v302_159 {
  width: 237px;
  height: 232px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 31px;
  border-radius: 50%;
}
.v302_160 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 27px;
  font-family: General Sans Variable;
  font-weight: Medium;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v302_161 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 157px;
  left: 131px;
  font-family: General Sans Variable;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v302_162 {
  width: 9px;
  height: 9px;
  background: rgba(102,30,255,1);
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 31px;
  border-radius: 50%;
}
.v302_163 {
  width: 9px;
  height: 9px;
  background: rgba(100,207,246,1);
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 211px;
  border-radius: 50%;
}
.v302_164 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 228px;
  left: 50px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_165 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 246px;
  left: 31px;
  font-family: General Sans Variable;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v302_166 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 246px;
  left: 211px;
  font-family: General Sans Variable;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v302_167 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 229px;
  left: 229px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v302_168 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 293px;
  left: 84px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_169 {
  width: 13px;
  background: url("../images/v302_169.png");
  opacity: 1;
  position: absolute;
  top: 303px;
  left: 207px;
  border: 0.7330077886581421px solid rgba(255,255,255,1);
}
.v302_170 {
  width: 243px;
  height: 39px;
  background: url("../images/v302_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 31px;
  border: 0.814453125px solid rgba(255,255,255,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_171 {
  width: 260px;
  height: 834px;
  background: url("../images/v302_171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_172 {
  width: 260px;
  height: 834px;
  background: rgba(29,29,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_173 {
  width: 214px;
  height: 46px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v302_174 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 150px;
  left: 67px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_175 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 204px;
  left: 67px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_176 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 250px;
  left: 67px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_177 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 425px;
  left: 67px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v302_178 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 300px;
  left: 67px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_179 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 474px;
  left: 67px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v302_180 {
  width: 50px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 348px;
  left: 67px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_181 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 523px;
  left: 67px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v302_184 {
  width: 40px;
  height: 21px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 198px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v302_185 {
  width: 15px;
  height: 15px;
  background: rgba(255,250,250,1);
  opacity: 1;
  position: absolute;
  top: 529px;
  left: 218px;
  border-radius: 50%;
}
.v302_186 {
  width: 139px;
  height: 40px;
  background: url("../images/v302_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 22px;
  overflow: hidden;
}
.v302_187 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 129px;
  font-family: Plus Jakarta Sans;
  font-weight: ExtraBold;
  font-size: 4px;
  opacity: 1;
  text-align: left;
}
.v302_188 {
  width: 41px;
  height: 40px;
  background: url("../images/v302_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_189 {
  width: 40px;
  height: 40px;
  background: rgba(255,95,8,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v302_237 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_238 {
  width: 27px;
  height: 31px;
  background: rgba(99,89,233,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 7px;
}
.v302_194 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 746px;
  left: 91px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v302_195 {
  width: 9px;
  height: 5px;
  background: url("../images/v302_195.png");
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 229px;
  border: 0.814453125px solid rgba(255,255,255,1);
}
.v302_196 {
  width: 88px;
  color: rgba(240,240,251,1);
  position: absolute;
  top: 768px;
  left: 91px;
  font-family: General Sans Variable;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_197 {
  width: 48px;
  height: 48px;
  background: rgba(176,245,255,1);
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 32px;
  border-radius: 50%;
}
.v302_198 {
  width: 48px;
  height: 48px;
  background: url("../images/v302_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 32px;
  overflow: hidden;
}
.v302_199 {
  width: 48px;
  height: 48px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v302_200 {
  width: 69px;
  height: 45px;
  background: url("../images/v302_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v302_207 {
  width: 19px;
  height: 19px;
  background: url("../images/v302_207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 36px;
  overflow: hidden;
}
.v302_208 {
  width: 6px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 11px;
}
.v302_209 {
  width: 6px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
}
.v302_210 {
  width: 6px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v302_211 {
  width: 6px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 2px;
}
.v302_212 {
  width: 19px;
  height: 19px;
  background: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 20px;
  transform: rotate(-180deg);
}
.v302_221 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 54px;
  left: 67px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
